
@using PagedList;

@using PagedList.Mvc;

@model IPagedList<webappiProject.Models.Employee>
@*@model IEnumerable<webappiProject.Models.Employee>*@



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "SearchPagingSort", FormMethod.Get))
{
    @Html.RadioButton("option", "Name") <text>Name</text>

    @Html.RadioButton("option", "Gender") <text> Gender </text>
    @Html.RadioButton("option", "Subjects")<text>Subject</text>
    @Html.TextBox("search")
    <input type="submit" name="submit" value="Search" />
}




















<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new
  {
sort = ViewBag.SortByName,
      option = Request.QueryString["option"],
      search = Request.QueryString["search"]
})
        </th>
        
        <th>
            @Html.ActionLink("Gender", "Index", new { sort = ViewBag.SortByGender, option = Request.QueryString["option"], search = Request.QueryString["search"] })
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.First().countted)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.countt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.countted)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EmployeeId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId })
                </td>*@
        </tr>
    }

</table>
@Html.PagedListPager(Model, pageNumber => Url.Action("Index", new
{
    pageNumber,
    option = Request.QueryString["option"],
    search = Request.QueryString["search"],
    sort = Request.QueryString["sort"]
}))


 


